body {
	margin: 0;
}

.header {
	background-color: black;
	height: 800px;
}

.card1 {
	flex-shrink: 0;
	background: #fff;
	width: 600px;
	height: 450px;
	position: relative;
	z-index: 3;
	bottom: 540px;
	right: -1150px;
}

.p-card1 {
	color: #99823d;
	font-family: 'Open Sans';
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 16.575px;
	letter-spacing: 2.763px;
	text-transform: uppercase;
	position: relative;
	right: -90px;
	bottom: -70px;
}

.h2-card1 {
	color: #141414;
	font-family: 'Teko';
	font-size: 67px;
	font-style: normal;
	font-weight: 400;
	line-height: 67.031px;
	text-transform: capitalize;
	width: 400px;
	position: relative;
	left: 90px;
	top: 10px;
}

.p2-card1 {
	color: #141414;
	font-family: 'Open Sans';
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 25.5px;
	width: 430px;
	height: 50px;
	position: relative;
	left: 90px;
	top: -20px;
}

.button1-card1 {
	background: #99823d;
	color: #fff;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 17.85px;
	letter-spacing: 2.975px;
	text-transform: uppercase;
	width: 216px;
	height: 68px;
	cursor: pointer;
	border: none;
	position: relative;
	left: 90px;
}

.button2-card1 {
	width: 216px;
	height: 68px;
	flex-shrink: 0;
	background: #141414;
	color: #fff;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 17.85px;
	letter-spacing: 2.975px;
	text-transform: uppercase;
	position: inherit;
	right: -100px;
	cursor: pointer;
}

.colorcard {
	width: 489px;
	height: 329px;
	flex-shrink: 0;
	background: #99823d;
	position: relative;
	z-index: 3;
	bottom: 229px;
	left: 1350px;
}

.ul3header {
	width: 90px;
	color: #000;
	font-family: 'Open Sans';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 68px;
	letter-spacing: 2.975px;
	text-transform: uppercase;
	display: flex;
	list-style: none;
	background-color: #fff;
	width: 1240px;
	height: 100px;
	position: relative;
	top: -612px;
	right: -70px;
	z-index: 3;
}

.b2 {
	margin-right: 80px;
	margin-top: 20px;
}

.b3 {
	margin-right: 80px;
	margin-top: 20px;
}

.b4 {
	margin-right: 80px;
	margin-top: 20px;
}

.b5 {
	margin-right: 80px;
	margin-top: 20px;
}

.black {
	background-color: black;
	width: 100%;
	height: 100px;
	position: relative;
	z-index: 1;
	bottom: 500px;
}

.cardlogo {
	width: 326px;
	height: 136px;
	background: #99823d;
	z-index: 2;
	margin-left: 70px;
	position: relative;
}

.photo1 {
	z-index: 1;
	position: relative;
	left: 70px;
	width: 1400px;
	height: 700px;
}

.logo {
	width: 190px;
	height: 49px;
	margin-top: 38px;
	margin-left: 50px;
}

.ul1header {
	list-style: none;
	display: flex;
	color: rgba(255, 255, 255, 0.75);
	text-align: center;
	font-family: 'Open Sans';
	font-size: 9px;
	font-style: normal;
	font-weight: 400;
	line-height: 15.3px;
	word-spacing: 8px;
	margin-top: -80px;
	margin-left: 400px;
	z-index: 0;
	position: relative;
	bottom: 10px;
}

.ul2header {
	list-style: none;
	flex-shrink: 0;
	color: #fff;
	font-family: 'Open Sans';
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 34px;
	letter-spacing: 2.763px;
	text-transform: uppercase;
	margin-left: 1200px;
	word-spacing: 37px;
	z-index: 0;
	margin-top: -30px;
	position: relative;
	display: flex;
	bottom: 20px;
}

.main1 {
	margin: 0;
	position: relative;
	top: 250px;
	right: -200px;
	width: 89%;
}

.p0-main1 {
	color: #99823d;
	font-family: 'Open Sans';
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 16.575px;
	letter-spacing: 2.763px;
	text-transform: uppercase;
	display: flex;
	width: 100%;
}

.p1-main1 {
	bottom: 50px;
	position: relative;
}

.p2-main1 {
	position: relative;
	left: 1000px;
	height: 20px;
	width: 100px;
}

.p3-main1 {
	position: relative;
	left: 702px;
	bottom: -200px;
	height: 20px;
	width: 100px;
}

.h3-main1 {
	color: #141414;
	font-family: 'Teko';
	font-size: 53px;
	font-style: normal;
	font-weight: 400;
	line-height: 52.955px;
	text-transform: capitalize;
	position: relative;
	width: 650px;
	bottom: 100px;
}

.h4-main1 {
	width: 323px;
	color: #141414;
	font-family: 'Teko';
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: 26.112px;
	text-transform: capitalize;
	position: relative;
	top: -420px;
	left: 1075px;
}

.h42-main1 {
	width: 339px;
	color: #141414;
	font-family: Teko;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: 26.112px; /* 100.431% */
	text-transform: capitalize;
	position: relative;
	bottom: 300px;
	left: 1075px;
}

.pp3-main1 {
	color: #141414;
	font-family: 'Open Sans';
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 25.5px;
	position: relative;
	width: 680px;
	bottom: 110px;
}

.pp2-main1 {
	color: #141414;
	font-family: 'Open Sans';
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 25.5px;
	position: relative;
	width: 650px;
	bottom: 120px;
}

.a1 {
	margin-right: 37px;
}

.a2 {
	margin-right: 37px;
}

.a3 {
	margin-right: 37px;
}

.a4 {
	margin-right: 37px;
}

.a5 {
	margin-right: 37px;
}

.a6 {
	margin-right: 37px;
}

.heart {
	width: 17px;
	height: 17px;
	margin-left: 8px;
}
